<div class="header">
  <h3>Code Management</h3>
</div>


<button pButton type="button" label="Add Code" icon="pi pi-plus" (click)="showDialogToAdd()"></button>

<p-table [value]="codes" [paginator]="true" [rows]="5" [lazy]="false" [rowsPerPageOptions]="[5, 10, 20]" [totalRecords]="codes.length">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Product</th>
      <th>Batch</th>
      <th>Code</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-code let-rowIndex="rowIndex">
    <tr>
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ code.productId?.name }}</td>
      <td>{{ code.batchId?.name }}</td>
      <td>{{ code.code }}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Add Code" [(visible)]="displayDialog" [modal]="true" [closable]="false" [responsive]="true" [style]="{'width': '400px'}">
  <div class="p-fluid">
    <div class="p-field">
      <label for="product">Product</label>
      <select 
      id="product" 
      [(ngModel)]="newCode.productId" 
      class="form-select"
    >
      <option value="" disabled>Select a Product</option>
      <option *ngFor="let product of products" [value]="product._id">{{ product.name }}</option>
    </select>    </div>
    <div class="p-field">
      <label for="batch">Batch</label>
      <select 
        id="batch" 
        [(ngModel)]="newCode.batchId" 
        class="form-select"
      >
        <option value="" disabled>Select a Batch</option>
        <option *ngFor="let batch of batches" [value]="batch._id">{{ batch.name }}</option>
      </select>
    </div>
    
  </div>
  <p-footer>
    <button pButton type="button" label="Save" icon="pi pi-check" (click)="saveCode()"></button>
    <button pButton type="button" label="Cancel" icon="pi pi-times" (click)="displayDialog = false"></button>
  </p-footer>
</p-dialog>
